@import '../../assets/css/_attribute.scss';
.paymaintance {
    padding: 0rem 2rem;
    font-family: 'Montserrat', sans-serif;
    &__container {}
    &__box {
        position: relative;
        margin-bottom: 1.5rem;
        padding: 1rem 0rem;
        border: 1px solid $primaryColor;
        border-radius: 5px;
        label {
            font-size: 14px;
            font-weight: 500;
            display: inline-block;
        }
        h1 {
            font-size: 14px;
            font-weight: 300;
            display: inline-block;
        }
        button {
            margin: 0px 5px;
            width: 100px;
            height: 27px;
            background-color: $primaryColor;
            border-radius: 12px;
            border: none;
            color: #fff;
            font-family: 'Montserrat', sans-serif;
            font-size: 12px;
            text-transform: uppercase;
            font-weight: 300;
            cursor: pointer;
            outline: none;
            &:hover {
                border: none;
                color: #fff;
                background-color: $primaryColor;
            }
        }
        &--each {}
    }
}

.modal-header .commonHeading {
    padding: 0rem 0rem;
    font-family: 'Montserrat', sans-serif;
}