$primaryColor: #41b883;
$headerBg: #41b883;
$sidenavBg: #fff;
$primaryFontColor: #54667a;
.nav-active-link-admin {
    color: #eb7475;
    background-color: #f7f7f7;
}

.nav-active-link {
    color: $primaryColor;
    background-color: #f7f7f7;
}

.noPadding {
    padding-left: 0;
    padding-right: 0;
}