@import '../../assets/css/_attribute.scss';
@import '../view-owner/view-owner.scss';
@import '../dashboard/dashboard.scss';
.maintance {
    padding: 0rem 2rem;
    font-family: 'Montserrat', sans-serif;
    &__container {
        padding: 0rem 1rem;
    }
}

.maintance .dashboard__metric {
    padding: 0;
    margin-bottom: 2.5rem;
}

.modal-header .commonHeadingAdmin {
    padding: 0rem 0rem;
    font-family: 'Montserrat', sans-serif;
}